In [6]:
# Write a program using for loop to print from 34 to 45 (45 included)

# your Answer
for i in range(35,45+1):
    print(i,end=" ")

35 36 37 38 39 40 41 42 43 44 45

In [8]:
# Write a program using for loop to print "machinelearning" 50 times 

# your Answer
for i in range(0,50):
    print("machinelearning",end=" ")
    if (i%10)==0:
        print()

machinelearning
machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning
machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning
machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning
machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning
machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning

In [9]:
# Write a program using for loop to print 21 ,23,25,27

# your Answer
for i in range(21,28,2):
    print(i)

21
23
25
27

In [11]:
#Write a Python program that prints all the numbers from 14 to 37(37 inclusive) except 17 .
#Note : Use 'continue' statement.
#Expected Output : 14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

# your Answer

for i in range(14,37+1):
    if i==17:
        continue
    print(i,end=" ")

14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

In [13]:
# Write a program to print only even numbers from 85 to 100 using for loop

# your Answer
even=[]
for i in range(85,100):
    if (i%2)==0:
        even.append(i)
print("even number:",even)

even number: [86, 88, 90, 92, 94, 96, 98]

In [14]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 14 and 37

# your Answer

list=[]
for i in range(14,37):
    if (i%7)==0 and (i%5)==0:
        list.append(i)
print(list)

[35]

In [16]:
#Write a Python program which iterates the integers from 14 to 37. 
#For multiples of three print "hello" instead of the number and for the multiples of five print "hi". 
#For numbers which are multiples of both three and five print "goodmorning"

# your Answer
for i in range(14, 38):
    if i % 3 == 0 and i % 5 == 0:
        print("goodmorning")
    elif i % 3 == 0:
        print("hello")
    elif i % 5 == 0:
        print("hi")
    else:
        print(i)

14
goodmorning
16
17
hello
19
hi
hello
22
23
hello
hi
26
hello
28
29
goodmorning
31
32
hello
34
hi
hello
37

In [22]:

"""
2*1 = 2
2*2 = 4
.
.
.
2*10 = 20
"""
#Write program to print 2 table like above 

# your Answer

num=2
for i in range(1,11):
   print(num,"*",i,"=",num*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20